* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	text-decoration: none;
}
:root{
		--black: #231F20 ;
	--blue: #0E4A82;
	--gray:#E6E7E9;
	--dark-gray:#CECFD1;
	--dark-blue:#093156;
}
/**
#231F20 Brownish Black
#E6E7E9 Grey
#0E4A82 blue
**/
@font-face{
	font-family: 'freesans';
	src: url(../fonts/freesans.ttf);

}

@font-face{
	font-family: 'freesans-bold';
	src: url(../fonts/freesansbold.ttf);

}

@font-face{
	font-family: 'rokkitt-bold';
	src: url(../fonts/rokkitt-bold.ttf);

}
@font-face{
	font-family: 'rokkitt';
	src: url(../fonts/rokkitt-regular.ttf);

}
@font-face{
	font-family: 'doris-pp';
	src: url(../fonts/dorisbr.ttf);
}
@font-face{
	font-family: 'calalig';
	src: url(../fonts/CalaLig.otf);
}


nav{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	min-height: 3em;
	padding: 1em 5% 0.31em 8%;	
	height: 4%;
	width: 100%;
	background-color:var(--gray);
	font-family: 'rokkitt';


}

.logo a{
	font-family: 'rokkitt-bold';
	font-size: 1.7em;
	color: var(--black);
	border-bottom: 0.18em solid var(--blue);
	padding: 100% 1em 0 1em;
}

.nav-links{
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items:flex-end ;
	width: 24%;
	opacity: 0.8;


}
.nav-links a{
	padding: 100% 0.4em 0 0.4em;
	font-size: 1.7em;
	color: var(--black);
	border-bottom: 0.18em solid var(--blue);

}

.nav-links a:hover, .logo a:hover{
	background-color: var(--dark-gray);
}

.background-pattern{
	position: absolute;
	top: 10%;
	right:18%;
	height: 70em;
	z-index: -2;
	opacity: 0.03;
}
#layer_2{
	top: 0%;
	right: 29%;
	opacity: 0.02;	

}


main{
	display: flex;
	justify-content: center;
	margin-top: 8%;
    margin-bottom: 8%;
	}

.left-panel{
	display: flex;
	flex-flow: column;
	width: 35em;
	margin-left: 12%;
	font-family: 'freesans';
	opacity:0;
}

.left-panel h1{
	font-family: 'rokkitt-bold';
	font-size: 11.5em;
	color: var(--black);
	width: 1.1em;
	height:1.23em;
	border-bottom: 0.12em solid var(--blue);
	border-top: 0.12em solid var(--blue);
	
}

.left-panel h2{
	font-family: 'freesans-bold';
	color: var(--black);
	margin-top: 1.5em;
	font-size: 2em;
	font-weight: 400; 
}

.left-panel span{
	color: var(--black);
	font-family: 'freesans';
	font-weight: 400;
}

.left-panel h3{
	color: var(--black);
	margin-top:4em;
	font-weight: 400;
	opacity: 0.8;
	font-size: 1.6em;
}

.right-panel{
	display: flex;
	align-items:flex-end;
	flex-grow:1;
	justify-content: flex-end;
	max-width: 100em;


}

.button {
	white-space: nowrap;
	font-family: 'freesans-bold';
	font-size: 1.8em;
	padding: 0.76em 2.43em 0.76em 2.43em;
	background-color: var(--blue);
	color: var(--gray);
	font-weight: 700;
	position: relative;
	left:2em;
	bottom: 3em;
	visibility: hidden;
	
}
.button:hover{
	background-color:var(--dark-blue);
}

.button-pattern{
	width: 426px;
	height: 336px;
	z-index: -1;
	background: repeating-linear-gradient(
		45deg, 
      	transparent 0 20px, 
      	var(--blue) 20px 25px);
	opacity: 0.6;
	visibility: hidden;
}

@media screen and (max-width: 1150px) {
	
	main{
		flex-flow: column;
		margin-top: 20%;
	}
	
	nav{
	    font-size: 0.7em;	
	}
	.left-panel{
	    width: 76%;
		font-size: 0.6em;
	}
	.button{
		font-size: 1.47em;
		bottom: 7em;
	}
	.button-pattern{
		height: 300px;

	}
	.nav-links{
		width: auto;
	}
	#app{
		flex-flow: row;

	}
	article{
		flex-flow: column;
	}
	article section{
		align-self: center;
		width: 90%  !important; 
	}
	.container{
		width: 100% !important;
	}
	#get-article{
		font-size: 0.75em;
	}
	#banner{
	font-size: 0.7em;
    margin: 0 10px;
	}
	.loader h1{
		white-space: normal;
		font-size: 0.5em;
	}
	.loader {
		flex-flow: column-reverse;

	}
	.loadTime{
		font-size:0.5em;
	}
}

.transition-fade {
  transition: 0.05s;
  opacity: 1;
}
html.is-animating .transition-fade {
	opacity: 0;
	transform: translateX( 50px);
	color: red;
}

/** Styling for the second page: app.html **/

.container{
	font-family: 'doris-pp';
	width: 65em;
	color: var(--black);
}

#banner{
	background-color: var(--gray);
	border-right: 1.5em solid var(--black);
	border-left: 1.5em solid var(--black);
	height: 6em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 1.5em 10px 1.5em ;
}

#banner h1{
	color: var(--black);
	font-size: 6em;
}

.description{


}
.description-top {
	line-height: 3em;
	padding-left: 15%;
}
.description-top h1{
	margin-top:1.5em;
	font-size: 3em;
}
.description-top h2{
	font-size: 1.65em;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
}

.description-top h3{
    font-size: 1.2em;
    margin-top: 0.5em;
    word-spacing: -0.1em;
    line-height: 1.5em;

}

.description-bottom{
	border-top: 0.1em solid var(--black);
	border-bottom: 0.1em solid var(--black);
	padding-left: 15%;
	padding-right: 8%;
}
.description-bottom h3{
    background-color: var(--black);
    color: white;
    font-size: 1em;
    text-align: center;
    display: inline-block;
    line-height: normal;
    letter-spacing: 0.04em;
    padding: 0.1em 0.45em 0.1em 0.45em;
    margin-top: 1.5em;
}
.description-bottom h4{
	margin-top: 1em;
	line-height: 1.2em;
	font-family: 'freesans';
	font-weight: 100;
	font-size: 1.25em;
	margin-bottom: 1em;
}

article{
	font-family: 'calalig';
	display: flex;
	justify-content: space-between;
	text-align: left;
    padding: 2em 0;
}
.article-main{
    font-size: 1.2em;
    text-indent: 1em;
    /*width: 43;*/
    line-height: 24px;
}
article section{
	width: 43%;
	display: flex;
}
.line-num p {
	font-style: italic;
	padding-top: 96px;
	color: #aaa;
	padding-right: 5px;
}
.separateur{
	background: repeating-linear-gradient( transparent 0 2px, var(--blue) 2px 8px);
    width: 0.1em;
    opacity: 0.4;
}
.instructions{
font-family: 'doris-pp';
    font-size: 1.01em;
    text-indent: 0;
    letter-spacing: -0.02em;
    margin-top: 0.5em;
}
.article-intro{
    font-family: 'freesans';
    margin: 0.7em 0;
    font-size: 0.8em;
    text-indent: 0;
    line-height: 18px;
}
.link {
    background: linear-gradient( to bottom, var(--blue) 0%, var(--blue) 100% );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2.5px 2.5px;
    color: var(--black);
    transition: background-size 0.25s;
    background-color: var(--gray);
}

.link:hover {
  background-size: 2.5px 22px;
  color: var(--gray);
}
.link:focus {
	outline: none;
}
#get-article{
	display: flex;
    align-items: center;
    flex-flow: column;
	margin-bottom: 5em;
}
#get-article a{
	font-family: 'doris-pp';
	font-size: 6em;
	border: none;
	cursor: pointer;
	background-size: 2.5px 15px;
}
#get-article a:hover{
    background-size: 2.5px 140px;
}
#get-article h3{
	margin-top: 1em;
	text-align: center;
}
.dash{
	background-color: var(--blue);
	width: 4em;
	height: 1em;
	float: right;
	position: relative;
	bottom: 5em;
	right:5em;
}
.dash:hover{
	background-color: var(--dark-blue)
}

.pagination{
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
}
.pagination h3{
	margin-top: 0.5em !important;
}
.loader-container{
	display: none;
}
.loader{
	display: flex;
	font-family: 'rokkitt-bold';
	justify-content: center;
	align-items: center;
	font-size: 3em;
	margin-top: 30%
}
.loader h1{
	text-align: center;
	white-space: nowrap;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 58px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: var(--blue);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
.loadTime{
	text-align: center;
	font-family: 'rokkitt-bold';
}